zipfile
os
opencv-python
shutil
sys
matplotlib
torch
numpy
ultralytics
supervision
random
tqdm
subprocess
pathlib
rclpy
pillow
cv_bridge
onnx
onnxruntime-gpu
onnxconverter_common
onnx-slim
tensorrt
nvidia-pyindex
nvidia-tensorrt
onnxruntime-gpu==1.20.0
pycuda
argparse
