opencv-python
matplotlib
torch
numpy
ultralytics
supervision
tqdm
pathlib
pillow
cv_bridge
onnx
onnxruntime-gpu
onnxconverter_common
onnxslim
tensorrt
nvidia-pyindex
nvidia-tensorrt
onnxruntime-gpu==1.20.0
pycuda
argparse
